h1,
p,
ul {
	@apply my-3 sm:mx-8 md:mx-24;
}

h1 {
	@apply text-3xl font-bold;
}

ul {
	@apply list-disc;
}

b {
	@apply font-bold;
}

a {
	@apply text-purple-500;
}

a:hover {
	@apply text-purple-700;
}

.contact a {
	@apply text-purple-300;
}

.contact a:hover {
	@apply text-purple-400;
}

.highlighted {
	@apply text-white px-2 py-1 shadow-sm;

	background-image: linear-gradient(
		80deg,
		#f27121cc,
		#e94057cc,
		#8a2387cc
	);

	border-radius: 6px;
}