---
import { micromark } from 'micromark'
import { gfm, gfmHtml } from 'micromark-extension-gfm'

import '../styles/note.css'

import * as wk from 'micromark-extension-wiki-link'
import * as fm from 'micromark-extension-frontmatter'

import { db } from '../prepare/db'

import BaseHead from '../components/BaseHead.astro'

import { SITE_DESCRIPTION } from '../config'
import { slugify } from '../prepare'

export const prerender = false

const notes$ = await db.notes()
const note = await notes$.findOne({ slug: { $eq: Astro.params.note! } })

const slugs = await notes$
	.find({ slug: { $exists: true } }, { projection: { slug: 1 } })
	.map((s) => s.slug)
	.toArray()

let html = ''

if (note) {
	html = micromark(note.source, {
		extensions: [gfm(), wk.syntax({ aliasDivider: '|' }), fm.frontmatter()],
		htmlExtensions: [
			gfmHtml(),
			wk.html({
				permalinks: slugs ?? [],
				pageResolver: (name) => [slugify(name)],
				hrefTemplate: (name) => `/${name}`,
			}),
			fm.frontmatterHtml(),
		],
	})
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead
			title={`${note?.name ?? 'Memo'} | Phoomparin Mano`}
			description={SITE_DESCRIPTION}
		/>
	</head>

	<body>
		<div class="bg-[#121213] text-white">
			<main class="flex flex-col justify-center mx-auto max-w-2xl min-h-screen">
				{
					note && (
						<section class="prose prose-invert prose-a:no-underline prose-a:text-yellow-200 hover:prose-a:underline hover:prose-a:text-yellow-300 hover:prose-a:underline-offset-4 py-16">
							<h1>{note.name}</h1>

							<article set:html={html} />
						</section>
					)
				}

				{
					!note && (
						<h1 class="text-3xl">The page you were looking for is gone!</h1>
					)
				}
			</main>
		</div>
	</body>
</html>
