---
import { micromark } from 'micromark'
import { gfm, gfmHtml } from 'micromark-extension-gfm'

import * as wk from 'micromark-extension-wiki-link'
import * as fm from 'micromark-extension-frontmatter'

import { db } from '../prepare/db'

import BaseHead from '../components/BaseHead.astro'

import { SITE_DESCRIPTION } from '../config'
import { slugify } from '../prepare'

export const prerender = false

const notes$ = await db.notes()
const note = await notes$.findOne({ slug: { $eq: Astro.params.note! } })

const slugs = await notes$
	.find({ slug: { $exists: true } }, { projection: { slug: 1 } })
	.map((s) => s.slug)
	.toArray()

let html = ''

if (note) {
	html = micromark(note.source, {
		extensions: [gfm(), wk.syntax({ aliasDivider: '|' }), fm.frontmatter()],
		htmlExtensions: [
			gfmHtml(),
			wk.html({
				permalinks: slugs ?? [],
				pageResolver: (name) => [slugify(name)],
				hrefTemplate: (name) => `/${name}`,
			}),
			fm.frontmatterHtml(),
		],
	})
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead
			title={`${note?.name ?? 'Memo'}`}
			description=""
		/>
	</head>

	<body>
		<div class="text-white">
			<main
				class="flex flex-col justify-center mx-auto max-w-3xl min-h-screen px-8 break-words"
			>
				{
					note && (
						<section class="py-12 font-sans">
							<h1 class="text-2xl font-semibold text-gray-800 mb-4">{note.name}</h1>

							<article
                set:html={html}
                class="
                  leading-7
                  text-gray-800 flex flex-col gap-y-3
                  text-lg
                  [&_h1]:text-2xl
                  [&_h1]:font-semibold
                  [&_h1]:mt-6
                  [&_h1]:mb-1
                  [&_h2]:text-xl
                  [&_h2]:font-semibold
                  [&_h2]:mt-6
                  [&_pre]:whitespace-pre-wrap
                  [&_pre]:text-sm
                  [&_pre]:p-6
                  [&_pre]:text-gray-600
                  [&_pre]:leading-relaxed
                  [&_pre]:border
                  [&_pre]:rounded
                  [&_pre]:border-gray-200
                  [&_pre]:mt-2
                  [&_a]:text-gray-600
                  [&_a:hover]:text-purple-500
                  [&_a:focus]:outline-none
                  [&_a:focus]:bg-yellow-100
                  [&_a:focus]:text-yellow-900
                  [&_a:focus]:rounded
                  [&_a]:underline
                "
              />
						</section>
					)
				}

				{
					!note && (
						<h1 class="text-3xl">The page you were looking for is gone!</h1>
					)
				}
			</main>
		</div>
	</body>
</html>
