---
import BaseHead from '../components/BaseHead.astro'

import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import { db } from '../prepare/db'

import '../styles/about.css'

const notes$ = await db.notes()

const projects = await notes$
	.find(
    { slug: { $exists: true } },
    { projection: { slug: 1, name: 1 }}
  )
	.toArray()
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body>
		<div class="max-w-[1200px] mx-auto px-2 py-5 bg-gray-950 text-gray-100 min-h-screen">
      <main>
        <h1>Projects</h1>

        <h1>People</h1>

        <h1>Talks</h1>

        <h1>Writings</h1>

        <div>
          {projects.map(project => (
            <div>{project.name}</div> 
          ))}
        </div>
      </main>
		</div>
	</body>
</html>
