---
import { Icon } from 'astro-icon/components'

import BaseHead from '../components/BaseHead.astro'
import Webring from '../components/Webring.astro'

import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import { db } from '../prepare/db'
import Header from '../components/Header.astro'

export const prerender = true

const notes$ = await db.notes()

const writings = await notes$
  .find(
    { slug: { $exists: true }, 'metadata.publish': { $in: ['poom.blogs'] } },
    { projection: { slug: 1, name: 1, timestamp: 1 } },
  )
  .sort({ timestamp: -1 })
  .toArray()
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header />

    <div class="flex items-center justify-center px-6 py-2 min-h-screen">
      <main>
        <section class="space-y-2">
          <div class="flex flex-col sm:text-xl gap-y-2">
            {
              writings.map((note) => (
                <a
                  class="flex gap-x-3 justify-start items-center text-slate-800 hover:text-cyan-800 group cursor-pointer"
                  href={note.slug}
                >
                  <Icon
                    name="material-symbols:note"
                    class="flex-[0_0_20px] size-5"
                  />

                  <p class="group-hover:underline group-hover:underline-offset-2">
                    {note.name}
                  </p>
                </a>
              ))
            }
          </div>
        </section>

        <div class="mt-8">
          <Webring />
        </div>
      </main>
    </div>
  </body>
</html>
