---
import BaseHead from '../components/BaseHead.astro'
import Webring from '../components/Webring.astro'

import { SITE_TITLE, SITE_DESCRIPTION } from '../config'

import { Content as About } from '../data/about.mdx'
import { Content as Contact } from '../data/contact.mdx'

import '../styles/about.css'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <header>
      <div class="flex px-4 py-3 items-center justify-end">
        <Webring />
      </div>
    </header>

    <main>
      <div class="max-w-4xl mx-auto pb-8">
        <section
          class="flex flex-col text-xl md:text-2xl leading-8 md:leading-9 text-zinc-800 mx-6"
        >
          <About />
        </section>
      </div>

      <div
        class="contact px-6 py-8 text-gray-200 bg-zinc-900 flex flex-col text-md sm:text-xl leading-8 md:leading-9"
      >
        <section class="max-w-4xl mx-auto">
          <Contact />
        </section>
      </div>
    </main>
  </body>
</html>
