---
import BaseHead from '../components/BaseHead.astro'
import Webring from '../components/Webring.astro'

import { SITE_TITLE, SITE_DESCRIPTION } from '../config'

import { Content as About } from '../data/about.mdx'
import { Content as Contact } from '../data/contact.mdx'

import '../styles/about.css'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body>
		<main class="max-w-[500px] mx-auto px-2 py-5">
      <h1>Talks</h1>

      <h1>Projects</h1>

      <h1>Writings</h1>
		</main>
	</body>
</html>
