---
import { Icon } from 'astro-icon/components'

import BaseHead from '../components/BaseHead.astro'

import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import { db } from '../prepare/db'

export const prerender = true

const notes$ = await db.notes()

const writings = await notes$
	.find(
    { slug: { $exists: true }, 'metadata.publish': { $in: ['poom.blogs'] } },
    { projection: { slug: 1, name: 1, timestamp: 1 }}
  )
  .sort({ timestamp: -1 })
	.toArray()
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body>
		<div class="flex items-center justify-center px-2 py-2 min-h-screen">
      <main>
        <section class="space-y-2">
          <div class="flex flex-col text-xl gap-y-2">
            {writings.map(note => (
              <a class="flex gap-x-3 items-center text-slate-800 hover:text-cyan-800 group cursor-pointer" href={note.slug}>
                <Icon name="material-symbols:note" class="text-2xl" />

                <p class="text-center group-hover:underline group-hover:underline-offset-2">
                  {note.name}
                </p> 
              </a>
            ))}
          </div>
        </section>
      </main>
		</div>
	</body>
</html>
