---
import { db } from '../prepare/db'

import BaseHead from '../components/BaseHead.astro'
import { SITE_DESCRIPTION } from '../config'

import '../styles/note.css'

export const prerender = false

const notes$ = await db.notes()

const notes = await notes$
	.find({}, { projection: { slug: 1, name: 1, timestamp: 1 } })
	.toArray()
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead
			title="Poom's digital garden notes."
			description={SITE_DESCRIPTION}
		/>
	</head>

	<body>
		<div class="bg-[#121213] text-white">
			<main
				class="flex flex-col justify-center mx-auto max-w-2xl min-h-screen py-24 px-8 break-words"
			>
				<section
					class="prose prose-invert prose-a:no-underline prose-a:text-yellow-200 hover:prose-a:underline hover:prose-a:text-yellow-300 hover:prose-a:underline-offset-4"
				>
					<h1>Every notes in my garden.</h1>

					<ul>
						{
							notes &&
								notes
									.sort((a, b) => +b.timestamp - +a.timestamp)
									.map((note) => (
										<li>
											<a href={`/${note.slug}`}>{note.name}</a>
										</li>
									))
						}
					</ul>
				</section>

				{!notes && <h1 class="text-3xl">Cannot load lists of pages</h1>}
			</main>
		</div>
	</body>
</html>
