---
import { differenceInYears } from 'date-fns'

// How long was it since the first Stupid Hackathon Bangkok?
// https://creatorsgarten.org/wiki/Hacks/sht1
// Time sure flies.
const years = differenceInYears(Date.now(), new Date(2017, 9, 30)) + 1
---

<span>{years}</span>
