<div class="flex space-x-3">
  <a href="https://webring.wonderful.software#poom.dev" title="วงแหวนเว็บ">
    <img
      alt="วงแหวนเว็บ"
      width="32"
      height="32"
      src="https://webring.wonderful.software/webring.black.svg"
    />
  </a>

  <a href="https://creatorsgarten.org/ring#poom.dev" title="Creatorsgarten">
    <img
      alt="Creatorsgarten"
      width="32"
      height="32"
      src="https://creatorsgarten.org/images/ring-thin.svg"
    />
  </a>
</div>
