---
import CreatorsgartenRing from './CreatorsgartenRing.astro'
import WonderfulSoftwareRing from './WonderfulSoftwareRing.astro'
---

<div class="flex space-x-3">
  <a href="https://webring.wonderful.software#poom.dev" title="วงแหวนเว็บ">
    <WonderfulSoftwareRing />
  </a>

  <a href="https://creatorsgarten.org/ring#poom.dev" title="Creatorsgarten">
    <CreatorsgartenRing />
  </a>
</div>
